{%extends 'Recetas/baseReceta.html' %}
{% load static %}


    {% block nomReceta %}
    Mate
    {% endblock nomReceta %}
    {% block nombre %}
    Mate
    {% endblock nombre %}


    {% block Nacionalidad %}
    Argentina
    {% endblock Nacionalidad %}
    {% block Nacion %}
    Argentina
    {% endblock Nacion %}
    


    {% block Foto %}
    <img src="{% static 'Recetas/img/food/mate.png'%} " alt="">
    {% endblock Foto %}

    {% block Tiempo %}
     15
    {% endblock Tiempo %}

    {% block Dificultad %}
    Facil
    {% endblock Dificultad %}

    {% block Favorito %}
    <i class="bi bi-heart"></i>
    {% endblock Favorito %}


    {% block Alimento %}
    Bebida
    {% endblock Alimento %}

    {% block Dieta %}
    Vegana
    {% endblock Dieta %}

    {% block Ingredientes %}
    Vegana
    {% endblock Ingredientes %}

    {% block Preparacion %}
    Vegana
    {% endblock Preparacion %}
    