{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Recetas de Sudamérica - Creación</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'Recetas/img/core-img/cocinero.png' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'Recetas/css/style.css' %}">
    <!-- Botones -->
    <link href="{% static 'Recetas/css/boton.css' %}" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="{% static 'Recetas/css/responsive/responsive.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'Recetas/css/Usuario.css' %}">

    <!--Popup-->
    <link rel="stylesheet" href="{% static 'Recetas/css/popup.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <!-- Preloader -->


    <!-- ***** Search Form Area ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header_area" id="header">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg align-items-center">
                        <a class="navbar-brand" href="{% url 'indexSesion' sesion.idUsuario %}">Recetas de Sudamérica</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#caviarNav"
                            aria-controls="caviarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                                class="fa fa-bars"></span></button>
                        <div class="collapse navbar-collapse" id="caviarNav">
                            <ul class="navbar-nav ml-auto" id="caviarMenu">
                                <li class="nav-item ">
                                    <a class="nav-link" href="{% url 'indexSesion' sesion.idUsuario %}">Inicio <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'Menu_RecetasSesion' sesion.idUsuario %}">Recetas</a>
                                    </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contactSesion' sesion.idUsuario %}">Contáctanos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'index' %}">Cerrar Sesión</a>
                                </li>
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Breadcumb Area Start ***** -->
    
    <div class="breadcumb-area bg-img bg-overlay foto12">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h2>Creación</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="topnav"> 
        <div class="topnav">
            {%if sesion.RolUsuario.nomRol == "Administrador" %}
            <a href="{% url 'Vista_de_Admin' sesion.idUsuario %}">Ver Perfil</a>
            <a href="{% url 'Ver_Receta_Admin' sesion.idUsuario %}">Ver Recetas</a>
            <a href="{% url 'Ver_Usuario_Admin' sesion.idUsuario %}">Ver Usuarios</a>
            <a href="{% url 'Creacion_Recetas' sesion.idUsuario %}">Subir Recetas</a>
            <a href="{% url 'Ver_Comen_Admin' sesion.idUsuario %}">Ver Comentarios</a>
            {% else %}
            <a href="{% url 'Vista_de_Usuario' sesion.idUsuario %}">Ver Perfil</a>
            <a href="{% url 'Ver_Receta_Usuario' sesion.idUsuario %}">Ver Recetas</a>
            <a href="{% url 'Creacion_Recetas' sesion.idUsuario %}">Subir Recetas</a>
            {% endif %}
        </div>
    </div>
    <!-- ***** Breadcumb Area End ***** -->
    <h3 style="text-align: center; margin-top: 40px;">Creación de recetas</h3>

    <!-- ***** Menu Area Start ***** -->

    <div class="caviar-contact-area d-md-flex align-items-center" id="contact">
        <div class="contact-form-area d-flex justify-content-end">
            <div class="contact-form">
                <div class="contact-form-title">
                    {% if messages %}
            <div>
                {% for i in messages %}
                    <p style="color: red;">{{ i }}</p>
                {% endfor %}
            </div>

            {% endif %}

                </div>
                <form action="{% url 'registrarRecetas' sesion.idUsuario %}" method="POST" name="formRegiRec" id="formRegiRec" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        
                        <div class="col-12">
                            <div class="contact-form-title">
                                <p style="margin-bottom: 10px;">Imagen:</p>
                            </div>
                            <input type="file" class="form-control" id="imagen" name="imagen">
                        </div>

                        <div class="col-12">
                            <div class="contact-form-title">
                                <p style="margin-bottom: 10px;">Nombre De La Receta:</p>
                            </div>
                            
                            <input type="text" class="form-control" placeholder="Ej: Asado" id="nomreceta" name="nomreceta">
                        </div>
                        <div class="col-12">
                            <div class="contact-form-title">
                                <p style="margin-bottom: 10px;">Tiempo De Preparacion (minutos):</p>
                            </div>
                            
                            <input type="number" class="form-control" placeholder="Ej: 15" id="tiempo" name="tiempo"
                                required>
                        </div>

                        <div class="col-12">
                            <div class="contact-form-title">
                                <p style="margin-bottom: 10px;">Nacionalidad:</p>
                            </div>    
                            <select class="form-control" style="height: 50px;" name="idNacio" id="idNacio">
                                {% for i in lista_r %}
                                <option value="{{i.idNacionalidad}}">{{i.nomNacionalidad}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-12">
                            <div class="contact-form-title">
                                <p style="margin-bottom: 10px;">Alimento:</p>
                            </div>    
                            <select class="form-control" style="height: 50px;" name="idAli" id="idAli">
                                {% for i in lista_a %}
                                <option value="{{i.idAlimento}}">{{i.nomAlimento}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-12">
                            <div class="contact-form-title">
                                <p style="margin-bottom: 10px;">Tipo de Dieta:</p>
                            </div>    
                            <select class="form-control" style="height: 50px;" name="idDiet" id="idDiet">
                                {% for i in lista_d %}
                                <option value="{{i.idDieta}}">{{i.nomDieta}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="contact-form-title">
                                    <p style="margin-bottom: 10px;">Ingredientes:</p>
                                </div>
                                
                                <textarea class="form-control" id="ingredientes" name="ingredientes" rows="5" cols="40"
                                    placeholder="EJ: --
 1 Carne de Camello. 
 10 oregano. 
 1 litro de aceite. 
 3 calamares. 
 2 pepinos." required></textarea>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="contact-form-title">
                                    <p style="margin-bottom: 10px;">Preparación:</p>
                                </div>
                                
                                <textarea class="form-control" id="preparacion" name="preparacion" rows="5" cols="40"
                                    placeholder="Ej: -- 
Paso 1 
Poner a calentar el agua y retirar del fuego antes de que hierva." required></textarea> <br>
                                <br>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="contact-form-title">
                                    <p style="margin-bottom: 10px;">Detalle (opcional):</p>
                                </div>

                                <textarea class="form-control" id="detalle" name="detalle" rows="5" cols="40"
                                    placeholder="Ej: -- Detalle del alimento."></textarea> <br>
                                <br>
                            </div>
                        </div>


                        <div class="col-12" style="text-align: center;">
                            <div class="popup" onclick="myFunction1()">
                                <input type="submit" class="gradient-button gradient-button-1" value="Confirmar">
                                <span class="popupcre" id="myPopup1"><p id="mensajeReg" style="color: white;"></p></span>
                            </div>
                            <input type="reset" class="gradient-button gradient-button-2" value="Cancelar">
                        </div> 
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- ***** Menu Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <footer class="caviar-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-text">
                        <a href="{% url 'index' %}" class="navbar-brand">Recetas de Sudamérica</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p style="color: beige;">Copyright Recetas de Sudamérica&copy;
                            <script>document.write(new Date().getFullYear());</script>
                        </p>
                        <p style="color: beige;">
                            Todos los derechos reservados
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery-2.2.4 js -->
    <script src="/static/Recetas/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/Recetas/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/Recetas/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/static/Recetas/js/others/plugins.js"></script>
    <!-- Active js -->
    <script src="/static/Recetas/js/active.js"></script>
    <!-- Creacion de recetas js -->
    <script src="/static/Recetas/js/jquery/RecCreacion.js"></script>
    <!--Popup-->
    <script>
        // When the user clicks on div, open the popup
        function myFunction1() {
            var popup = document.getElementById("myPopup1");
            popup.classList.toggle("show");
        }
    </script>
</body>