{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Recetas de Sudamérica</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'Recetas/img/core-img/cocinero.png' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'Recetas/css/style.css' %}" >

    <!-- Responsive CSS -->
    <link href="{% static 'Recetas/css/responsive/responsive.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' %}">

</head>

<body>
    <!-- Preloader -->


    <!-- ***** Header Area Start ***** -->
    <header class="header_area" id="header">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg align-items-center">
                        <a class="navbar-brand" href="index.html">Recetas de Sudamérica</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#caviarNav" aria-controls="caviarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                        <div class="collapse navbar-collapse" id="caviarNav">
                            <ul class="navbar-nav ml-auto" id="caviarMenu">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#home">Inicio <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#about">Sobre Nosotros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#menu">Países más valorados</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#testimonial">Reseñas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="menu.html">Países</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contáctanos</a>
                                </li>
                                <li class="nav-item dropdown active show">
                                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa-solid fa-user"></i>  Mi Cuenta</a>
                                    <div class="dropdown-menu show" aria-labelledby="navbarDropdown">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12"><a class="dropdown-item" href="Login.html">Iniciar Sesión</a></div>
                                                <div class="col-md-12"><a class="dropdown-item" href="registrarse.html">Registrarse</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ****** Welcome Area Start ****** -->
    <section class="caviar-hero-area" id="home">
        <!-- Welcome Social Info 
        <div class="welcome-social-info">
            <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.twitter.com"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
        </div>-->
        <!-- Welcome Slides -->
        <div class="caviar-hero-slides owl-carousel">
            <!-- Single Slides -->
            <div class="single-hero-slides bg-img foto">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-11 col-md-6 col-lg-4">
                            <div class="hero-content">
                                <h2>Bienvenid@</h2>
                                <p>Aqui encontraras diferentes recetas del mundo para <strong> preparar, subir o valorar </strong> platos de otros usuarios</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider Nav -->
                <div class="hero-slides-nav bg-img slide1">
            </div>
            <!-- Single Slides -->
            <div class="single-hero-slides bg-img slide1">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-11 col-md-6 col-lg-4">
                            <div class="hero-content">
                                <h2>Bienvenid@</h2>
                                <p>Aqui encontraras diferentes recetas del mundo para <strong> preparar, subir o valorar </strong> platos de otros usuarios</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider Nav -->
                <div class="hero-slides-nav bg-img slide2"></div>
            </div>
        </div>
    </section>
    <!-- ****** Welcome Area End ****** -->

    <!-- ****** About Us Area Start ****** -->
    <section class="caviar-about-us-area section-padding-150" id="about">
        <div class="container">
            <!-- About Us Single Area -->
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="about-us-thumbnail wow fadeInUp" data-wow-delay="0.5s">
                        <img src="{% static 'Recetas/img/food/mundo_food.jpg' %}" alt="" style="border-radius: 8px;">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5 ml-md-auto">
                    <div class="section-heading">
                        <h2>Quienes Somos</h2>
                    </div>
                    <div class="about-us-content">
                        <span>recetas de cocina</span>
                        <p>Somos una Pagina web que ayuda a las personas para encontrar sus recetas favoritas o descubrir nuevas preparaciones para llevar a la mesa</p>
                    </div>
                </div>
            </div>
            <!-- About Us Single Area -->
            <div class="about-us-second-part">
                <div class="row align-items-center pt-200">
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="about-us-content">
                            <span>Chef</span>
                            <p>El Chef Marcos comentó que le sirvió mucho nuestra página para publicar sus recetas y saber la opinión de diferentes personas cómo también conocer más platos tipicos del mundo </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ml-md-auto">
                        <div class="about-us-thumbnail wow fadeInUp" data-wow-delay="0.5s">
                            <img src="{% static 'Recetas/img/bg-img/about-2.jpg' %}" alt="" style="border-radius: 8px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ****** About Us Area End ****** -->

    <!-- ****** Dish Menu Area Start ****** -->
    <section class="caviar-dish-menu" id="menu">
        <div class="container">
            <div class="row">
                <div class="col-12 menu-heading">
                    <div class="section-heading text-center">

                    </div>
                    <!-- btn -->
                    <a href="menu.html" class="btn caviar-btn"><span></span>Ver los Países</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                        <img src="{% static 'Recetas/img/paises/Chile1.png' %}" alt="">
                        <div class="dish-info">
                            <h6 class="dish-name">Chile</h6>
                            <a href="RecetaChile.html">
                            <p class="dish-price">Ver</p>
                        </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                        <img src="{% static 'Recetas/img/paises/Argentina1.png' %}" alt="">
                        <div class="dish-info">
                            <h6 class="dish-name">Argentina</h6>
                            <a href="RecetaArgentina.html">
                                <p class="dish-price">Ver</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                        <img src="{% static 'Recetas/img/paises/Brasil1.png' %}" alt="">
                        <div class="dish-info">
                            <h6 class="dish-name">Brazil</h6>
                            <a href="RecetasBrasil.html">
                                <p class="dish-price">Ver</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ****** Dish Menu Area End ****** -->

    <!-- ****** Testimonials Area Start ****** -->
    <section class="caviar-testimonials-area" id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="testimonials-content">
                        <div class="section-heading text-center">
                            <h2>Reseñas</h2>
                        </div>
                        <div class="caviar-testimonials-slides owl-carousel">
                            <!-- Single Testimonial Area -->
                            <div class="single-testimonial">
                                <div class="testimonial-thumb-name d-flex align-items-center">
                                    <img src="{% static 'Recetas/img/testimonial-img/3.jpg' %}" alt="">
                                    <div class="tes-name">
                                        <h5>Robert Jonson</h5>
                                        <p>02/04/2020</p>
                                    </div>
                                </div>
                                <p>Gracias por la información útil y completa como lo de el ácido fitico, ya que sin esa información en vez de hacernos bien, podríamos perjudicar nuestro cuerpo.</p>
                            </div>
                            <!-- Single Testimonial Area -->
                            <div class="single-testimonial">
                                <div class="testimonial-thumb-name d-flex align-items-center">
                                    <img src="{% static 'Recetas/img/testimonial-img/2.jpg' %}" alt="">
                                    <div class="tes-name">
                                        <h5>Clara Hudson</h5>
                                        <p>20/02/2021</p>
                                    </div>
                                </div>
                                <p>Gracias por la receta, probaré hacerla y esperar el tiempo si es eficaz, ya que he probado de todo, como muy saludable y esto va a proceso rebote, me acorde del agua de avena y me gusta como lo explicaron.</p>
                            </div>
                            <!-- Single Testimonial Area -->
                            <div class="single-testimonial">
                                <div class="testimonial-thumb-name d-flex align-items-center">
                                    <img src="{% static 'Recetas/img/testimonial-img/1.jpg' %}" alt="">
                                    <div class="tes-name">
                                        <h5>Jane Black</h5>
                                        <p>15/10/2020</p>
                                    </div>
                                </div>
                                <p>Podrías perfectamente preparar el agua de avena con agua hervida en casa o agua filtrada, pero si quieres hacerlo con agua mineral es mejor aún. Igualmente se aplica para enjuagar las hojuelas.
                                    ¡Saludos!
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ****** Testimonials Area End ****** -->

    <!-- ***** Footer Area Start ***** -->
    <footer class="caviar-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-text">
                        <a href="index.html" class="navbar-brand">Recetas de Sudamérica</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p style="color: beige;">Copyright Recetas de Sudamérica&copy;
                            <script>document.write(new Date().getFullYear());</script>
                        </p>
                        <p style="color: beige;">
                            Todos los derechos reservados
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- Jquery-2.2.4 js -->
    <script src="/static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap-4 js -->
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/static/js/others/plugins.js"></script>
    <!-- Active JS -->
    <script src="/static/js/active.js"></script>
</body>