<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Recetas de Sudamérica - Editar</title>

    <!-- Botones -->
    <link href="{% static 'Recetas/css/boton.css' %}" rel="stylesheet">
    

   <!-- Favicon -->
   <link rel="icon" href="{% static 'Recetas/img/core-img/cocinero.png' %}">

   <!-- Botones -->
   <link href="{% static 'Recetas/css/boton.css' %}" rel="stylesheet">

   <!-- Core Stylesheet -->
   <link href="{% static 'Recetas/css/style.css' %}" rel="stylesheet">

   <!-- Responsive CSS -->
   <link href="{% static 'Recetas/css/responsive/responsive.css' %}" rel="stylesheet">

   <link rel="stylesheet" href="{% static 'Recetas/css/Usuario.css' %}">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

</head>

<body>


    <!-- ***** Search Form Area ***** -->
    <div class="caviar-search-form d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-close-btn" id="closeBtn">
                        <i class="pe-7s-close-circle" aria-hidden="true"></i>
                    </div>
                    <form action="#" method="get">
                        <input type="search" name="caviarSearch" id="search"
                            placeholder="Search Your Favourite Dish ...">
                        <input type="submit" class="d-none" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area" id="header">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg align-items-center">
                        <a class="navbar-brand" href="{% url 'index' %}">Recetas de Sudamérica</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#caviarNav"
                            aria-controls="caviarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                                class="fa fa-bars"></span></button>
                        <div class="collapse navbar-collapse" id="caviarNav">
                            <ul class="navbar-nav ml-auto" id="caviarMenu">
                                <li class="nav-item ">
                                    <a class="nav-link" href="{% url 'index' %}">Inicio <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'Menu_Recetas' %}">Recetas</a>
                                    </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contact' %}">Contáctanos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'index' %}">Cerrar Sesión</a>
                                </li>
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-overlay foto12">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h2>Editar</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="topnav">
        {%if sesion.RolUsuario.nomRol == "Administrador" %}
        <a href="{% url 'Vista_de_Admin' sesion.idUsuario %}">Ver Perfil</a>
        <a href="{% url 'Ver_Receta_Admin' sesion.idUsuario %}">Ver Recetas</a>
        <a href="{% url 'Ver_Usuario_Admin' sesion.idUsuario %}">Ver Usuarios</a>
        <a href="{% url 'Creacion_Recetas' sesion.idUsuario %}">Subir Recetas</a>
        <a href="{% url 'Ver_Comen_Admin' sesion.idUsuario %}">Ver Comentarios</a>
        {% else %}
        <a href="{% url 'Vista_de_Usuario' sesion.idUsuario %}">Ver Perfil</a>
        <a href="{% url 'Ver_Receta_Usuario' sesion.idUsuario %}">Ver Recetas</a>
        <a href="{% url 'Creacion_Recetas' sesion.idUsuario %}">Subir Recetas</a>
        {% endif %}
    </div>
    <!-- ***** Breadcumb Area End ***** -->
    <h3 style="text-align: center; margin-top: 40px;">Editar Perfil</h3>

    <!-- ***** Menu Area Start ***** -->

    <div class="caviar-contact-area d-md-flex align-items-center" id="contact">
        <div class="contact-form-area d-flex justify-content-end">
            <div class="contact-form">
                
                <form action="{% url 'contraModificado' sesion.idUsuario %}" method="POST" id="formRegi" name="formRegi" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        
                        <div class="col-12">
                            <p>Nueva Contraseña:</p>
                            <input type="password" class="form-control" placeholder="Ej: Patatun1" value="{{sesion.contrasena}}" id="pass1" name="pass1"
                                required>
                        </div>
                        <div class="col-12">
                            <p>Confirmar Contraseña:</p>
                            <input type="password" class="form-control" placeholder="Ej: Patatun1" value="{{sesion.contrasena}}" id="pass2" name="pass2"
                                required>
                        </div>

                        <div class="col-12" style="text-align: center;">
                            <p id="mensajeReg" name="mensajeReg"></p>
                   
                            <input type="submit" class="gradient-button gradient-button-1" value="Confirmar">
                                
                          
                            <input type="reset" class="gradient-button gradient-button-2" value="Cancelar">
                            
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ***** Menu Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <footer class="caviar-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-text">
                        <a href="{% url 'index' %} " class="navbar-brand">Recetas de Sudamérica</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p style="color: beige;">Copyright Recetas de Sudamérica&copy;
                            <script>document.write(new Date().getFullYear());</script>
                        </p>
                        <p style="color: beige;">
                            Todos los derechos reservados
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery-2.2.4 js -->
    <script src="{%static 'Recetas/js/jquery/jquery-2.2.4.min.js'%} "></script>
    <!-- Popper js -->
    <script src="{%static 'Recetas/js/bootstrap/popper.min.js'%}"></script>
    <!-- Bootstrap js -->
    <script src="{%static 'Recetas/js/bootstrap/bootstrap.min.js'%}"></script>
    <!-- All Plugins js -->
    <script src="{%static 'Recetas/js/others/plugins.js'%}"></script>
    <!-- Active js -->
    <script src="{%static 'Recetas/js/active.js'%}"></script>
    <!-- Mod User -->
    <script src="{%static 'Recetas/js/jquery/ModPass.js'%}"></script>
</body>