{% extends 'Recetas/plantillaNueva.html' %}
{% load static %}


{% block titulo %}
<title>Alfajor - Recetas de Sudamérica</title>
{% endblock titulo %}

{% block cuerpo %}
<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/hero-5.jpg)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Argentina</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcumb Area End ***** -->

<!-- ***** Regular Page Area Start ***** -->
<section class="caviar-regular-page section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="regular-page-content">
                    <div class="post-title">

                        <img src="img/food/Alfajor.png" alt="">
                        <h2>Alfajor</h2>
                        <div>
                            <div style="text-align: center;">
                                <i class="bi-alarm"></i>: 30M |
                                <i class="bi bi-bar-chart-fill"></i> Dificultad: Media |
                                Favorito: <i class="bi bi-heart"></i>
                            </div>
                            <div style="text-align: center;">
                                <i class="bi bi-map"></i> Pais : Argentina |
                                <i class="bi bi-egg"></i> Alimento: Postre |
                                <i class="bi bi-basket"></i> Dieta: Vegetariana
                            </div>

                        </div>
                    </div>
                    <div class="post-content">
                        <h2>Ingredientes</h2>
                        <p>
                            3/4 taza de harina <br>

                            4 cucharadas de maicena <br>

                            1/2 taza de margarina bonella <br>

                            esencia de vainilla <br>

                            1 unidad de yemas de huevo <br>

                            1/2 taza de azúcar impalpable
                        </p>

                        <h2>Paso 1</h2>
                        <p>
                            Mezclar el azúcar impalpable, la harina, la maicena, y hacer un pequeño volcán.
                        </p>
                        <h2>Paso 2</h2>
                        <p>
                            Batir por 3 minutos a velocidad media la margarina Bonella con la yema y la esencia de
                            vainilla, e incorporar los ingredientes secos: la harina, la maicena y el azúcar
                            impalpable, hasta obtener una masa homogénea.
                        </p>
                        <h2>Paso 3</h2>
                        <p>
                            Poner la masa en la mesa, con la ayuda de un poco de harina, y con el rodillo estirar y
                            formar los círculos del tamaño deseado.
                        </p>
                        <h2>Paso 4</h2>
                        <p>
                            Llevar al horno a 150 °C de 10 a 12 minutos, dejar enfriar, colocar el manjar y
                            espolvorear con azúcar impalpable.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Regular Page Area End ***** -->
<section class="caviar-testimonials-area" id="testimonial" style="padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="testimonials-content">
                    <div class="section-heading text-center">
                        <h2>Reseñas</h2>
                    </div>
                    <div class="caviar-testimonials-slides owl-carousel">
                        <!-- Single Testimonial Area -->
                        <div class="single-testimonial">
                            <div class="testimonial-thumb-name d-flex align-items-center">
                                <img src="img/testimonial-img/3.jpg" alt="">
                                <div class="tes-name">
                                    <h5>Robert Jonson</h5>
                                    <p>02/04/2020</p>
                                </div>
                            </div>
                            <p>Gracias por la información útil y completa como lo de el ácido fitico, ya que sin esa
                                información en vez de hacernos bien, podríamos perjudicar nuestro cuerpo.</p>
                        </div>
                        <!-- Single Testimonial Area -->
                        <div class="single-testimonial">
                            <div class="testimonial-thumb-name d-flex align-items-center">
                                <img src="img/testimonial-img/2.jpg" alt="">
                                <div class="tes-name">
                                    <h5>Clara Hudson</h5>
                                    <p>20/02/2021</p>
                                </div>
                            </div>
                            <p>Gracias por la receta, probaré hacerla y esperar el tiempo si es eficaz, ya que he
                                probado de todo, como muy saludable y esto va a proceso rebote, me acorde del agua de
                                avena y me gusta como lo explicaron.</p>
                        </div>
                        <!-- Single Testimonial Area -->
                        <div class="single-testimonial">
                            <div class="testimonial-thumb-name d-flex align-items-center">
                                <img src="img/testimonial-img/1.jpg" alt="">
                                <div class="tes-name">
                                    <h5>Jane Black</h5>
                                    <p>15/10/2020</p>
                                </div>
                            </div>
                            <p>Podrías perfectamente preparar el agua de avena con agua hervida en casa o agua filtrada,
                                pero si quieres hacerlo con agua mineral es mejor aún. Igualmente se aplica para
                                enjuagar las hojuelas.
                                ¡Saludos!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock cuerpo %}