<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Garbanzos con carne desmechada - Recetas de Sudamérica</title>

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">


    <!-- Favicon -->
    <link rel="icon" href="img/core-img/cocinero.png">

    <!-- Core Stylesheet -->
    <link href="style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="css/responsive/responsive.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="caviar-load"></div>
        <div class="preload-icons">
            <img class="preload-1" src="img/core-img/preload-1.png" alt="">
            <img class="preload-2" src="img/core-img/preload-2.png" alt="">
            <img class="preload-3" src="img/core-img/preload-3.png" alt="">
        </div>
    </div>

    <!-- ***** Search Form Area ***** -->
    <div class="caviar-search-form d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-close-btn" id="closeBtn">
                        <i class="pe-7s-close-circle" aria-hidden="true"></i>
                    </div>
                    <form action="#" method="get">
                        <input type="search" name="caviarSearch" id="search"
                            placeholder="Search Your Favourite Dish ...">
                        <input type="submit" class="d-none" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area" id="header">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg align-items-center">
                        <a class="navbar-brand" href="index.html">Recetas de Sudamérica</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#caviarNav"
                            aria-controls="caviarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                                class="fa fa-bars"></span></button>
                        <div class="collapse navbar-collapse" id="caviarNav">
                            <ul class="navbar-nav ml-auto" id="caviarMenu">
                                <li class="nav-item ">
                                    <a class="nav-link" href="index.html">Inicio <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="RecetasColombia.html">Volver</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="menu.html">Países</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contáctanos</a>
                                </li>
                                <li class="nav-item dropdown active show">
                                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa-solid fa-user"></i>  Mi Cuenta</a>
                                    <div class="dropdown-menu show" aria-labelledby="navbarDropdown">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12"><a class="dropdown-item" href="Login.html">Iniciar Sesión</a></div>
                                                <div class="col-md-12"><a class="dropdown-item" href="registrarse.html">Registrarse</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/hero-5.jpg)">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h2>Colombia</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Regular Page Area Start ***** -->
    <section class="caviar-regular-page section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content">
                        <div class="post-title">

                            <img src="img/imgColombia/Garbanzos_con_carne_desmechada.jpg" alt="">
                            <h2>Garbanzos con carne desmechada</h2>
                            <div>
                                <div style="text-align: center;">
                                    <i class="bi-alarm"></i>: 1H 30M |
                                    <i class="bi bi-bar-chart-fill"></i> Dificultad: Media |
                                    Favorito: <i class="bi bi-heart"></i>
                                </div>
                                <div style="text-align: center;">
                                    <i class="bi bi-map"></i> Pais : Colombia |
                                    <i class="bi bi-egg"></i> Alimento: Comida |
                                    <i class="bi bi-basket"></i> Dieta: N/A
                                </div>

                            </div>
                        </div>
                        <div class="post-content">
                            <h2>Ingredientes</h2>
                            <ul>
                                <li>• 200 gramos de Garbanzos cocinados</li>
                                <li>• 500 gramos de Matambre o sobrebarriga (Corta para desmechar)</li>
                                <li>• 5 unidades de Tomates</li>
                                <li>• 2 unidades de Cebolla blanca</li>
                                <li>• 120 gramos de Cebolla larga</li>
                                <li>• 1 cucharada postre de Pasta de ajo</li>
                                <li>• 2 latas de Cerveza</li>
                                <li>• 1 pizca de Tomillo</li>
                                <li>• 1 pizca de Laurel</li>
                                <li>• 1 pizca de Sal</li>
                                <li>• 1 pizca de Pimienta negra</li>
                            </ul>

                            <h2>Paso 1</h2>
                            <p>El primer paso para realizar nuestra receta con carne desmechada es prealistar los ingredientes.</p>
                            <h2>Paso 2</h2>
                            <p>Lo primero será hacer el guiso básico para cocinar la carne desmechada. 
                                Para ello, licua o procesa los tomates junto con la cebolla y lleva el puré resultante a una olla a fuego
                                medio con un poco de aceite de girasol. Deja sofreír durante algunos minutos.</p>
                            <h2>Paso 3</h2>
                            <p>Cuando el guiso tome consistencia adiciona la pieza de carne, previamente cortada en trozos medianos, con un poco de sal, 
                                pimienta y ajo al gusto. Puedes agregar un poco de colorante y comino, lo que dará color y un sabor delicioso a la salsa.</p>
                            <h2>Paso 4</h2>
                            <p>
                                A continuación, cubre la carne con la cerveza, lo ideal es que la cocción se realice solo en este medio líquido pues va a tener mucho sabor. 
                                Agrega el tomillo, el laurel y tapa la olla a presión para que se cocine de forma más rápida. Como sugerencia, 
                                a mi me gusta que ésta quede muy blanda así que la cocino por una hora exacta para que obtener una carne tierna, jugosa y blanda.</p>
                            <h2>Paso 5</h2>
                            <p>Una vez transcurra este tiempo retira la carne del caldo y deja enfriar. Reserva el caldo de la cocción.</p>
                            <h2>Paso 6</h2>
                            <p>Una vez fría la carne podrás demecharla o deshebrarla con las manos. Empieza a desmenuzarla como se observa en la fotografía.</p>
                            <h2>Paso 7</h2>
                            <p>Lleva nuevamente la carne desmechada al caldo donde realizamos la cocción anterior y deja a fuego medio.</p>
                            <h2>Paso 8</h2>
                            <p>Adiciona los garbanzos cocidos y deja conservar estos ingredientes a fuego medio. 
                                Agrega sal y pimienta al gusto si consideras que hace falta.</p>
                            <h2>Paso 9</h2>
                            <p>Finalmente, sirve los garbanzos con carne mechada acompañando con arroz blanco o unas tajadas de plátano. 
                                Además la cocción de la carne en cerveza es exquisita!.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Regular Page Area End ***** -->
    <section class="caviar-testimonials-area" id="testimonial" style="padding-bottom: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="testimonials-content">
                        <div class="section-heading text-center">
                            <h2>Reseñas</h2>
                        </div>
                        <div class="caviar-testimonials-slides owl-carousel">
                            <!-- Single Testimonial Area -->
                            <div class="single-testimonial">
                                <div class="testimonial-thumb-name d-flex align-items-center">
                                    <img src="img/testimonial-img/3.jpg" alt="">
                                    <div class="tes-name">
                                        <h5>Robert Jonson</h5>
                                        <p>02/04/2020</p>
                                    </div>
                                </div>
                                <p>Gracias por la información útil y completa como lo de el ácido fitico, ya que sin esa información en vez de hacernos bien, podríamos perjudicar nuestro cuerpo.</p>
                            </div>
                            <!-- Single Testimonial Area -->
                            <div class="single-testimonial">
                                <div class="testimonial-thumb-name d-flex align-items-center">
                                    <img src="img/testimonial-img/2.jpg" alt="">
                                    <div class="tes-name">
                                        <h5>Clara Hudson</h5>
                                        <p>20/02/2021</p>
                                    </div>
                                </div>
                                <p>Gracias por la receta, probaré hacerla y esperar el tiempo si es eficaz, ya que he probado de todo, como muy saludable y esto va a proceso rebote, me acorde del agua de avena y me gusta como lo explicaron.</p>
                            </div>
                            <!-- Single Testimonial Area -->
                            <div class="single-testimonial">
                                <div class="testimonial-thumb-name d-flex align-items-center">
                                    <img src="img/testimonial-img/1.jpg" alt="">
                                    <div class="tes-name">
                                        <h5>Jane Black</h5>
                                        <p>15/10/2020</p>
                                    </div>
                                </div>
                                <p>Podrías perfectamente preparar el agua de avena con agua hervida en casa o agua filtrada, pero si quieres hacerlo con agua mineral es mejor aún. Igualmente se aplica para enjuagar las hojuelas.
                                    ¡Saludos!
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="contact-form">
        <div class="contact-form-title"></div>
        <form action="#">
            <div class="row">
                <div class="col-12">
                    <textarea name="message" class="form-control" id="Message" cols="30" rows="10" placeholder="Su mensaje"></textarea>
                </div>
                <div class="col-12">
                    <a href="#" type="submit" class="btn caviar-btn" style="margin-bottom: 20px;margin-left: 80px;"><span></span>Subir Comentario</a>
                </div>
            </div>
        </form>
    </div>

    <!-- ***** Footer Area Start ***** -->
    <footer class="caviar-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-text">
                        <a href="index.html" class="navbar-brand">Recetas de Sudamérica</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p style="color: beige;">Copyright Recetas de Sudamérica&copy;
                            <script>document.write(new Date().getFullYear());</script>
                        </p>
                        <p style="color: beige;">
                            Todos los derechos reservados
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/others/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>