<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Recetas de Sudamérica - Colombia</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/cocinero.png">

    <!-- Core Stylesheet -->
    <link href="style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="css/responsive/responsive.css" rel="stylesheet">

    <!--Popup-->
    <link rel="stylesheet" href="css/popup.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="caviar-load"></div>
        <div class="preload-icons">
            <img class="preload-1" src="img/core-img/preload-1.png" alt="">
            <img class="preload-2" src="img/core-img/preload-2.png" alt="">
            <img class="preload-3" src="img/core-img/preload-3.png" alt="">
        </div>
    </div>

    <!-- ***** Search Form Area ***** -->
    <div class="caviar-search-form d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-close-btn" id="closeBtn">
                        <i class="pe-7s-close-circle" aria-hidden="true"></i>
                    </div>
                    <form action="#" method="get">
                        <input type="search" name="caviarSearch" id="search"
                            placeholder="Search Your Favourite Dish ...">
                        <input type="submit" class="d-none" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area" id="header">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg align-items-center">
                        <a class="navbar-brand" href="index.html">Recetas de Sudamérica</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#caviarNav"
                            aria-controls="caviarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                                class="fa fa-bars"></span></button>
                        <div class="collapse navbar-collapse" id="caviarNav">
                            <ul class="navbar-nav ml-auto" id="caviarMenu">
                                <li class="nav-item ">
                                    <a class="nav-link" href="index.html">Inicio <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                <li class="nav-item">
                                    <a class="nav-link" href="menu.html">Países</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contáctanos</a>
                                </li>
                                <li class="nav-item dropdown active show">
                                    <a class="nav-link" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
                                            class="fa-solid fa-user"></i> Mi Cuenta</a>
                                    <div class="dropdown-menu show" aria-labelledby="navbarDropdown">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12"><a class="dropdown-item"
                                                        href="Login.html">Iniciar Sesión</a></div>
                                                <div class="col-md-12"><a class="dropdown-item"
                                                        href="registrarse.html">Registrarse</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/imgEcuador/fondo_ecuador.jpg)">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h2>Colombia</h2>
                        <a href="#menu" id="menubtn" class="btn caviar-btn"><span></span> Recetas más valoradas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Menu Area Start ***** -->

    <div class="container" style="margin-bottom: 100px;">
        <div class="row">
            <div class="col-12 menu-heading">
                <div class="section-heading text-center">
                    <h2>Recetas</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-sm-12 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5">
                    <img src="img/imgColombia/ALBON.png" alt="">
                    <div class="dish-info">
                        <h6 class="dish-name">Albondigon Colombiano</h6>
                        <div class="popup" onclick="myFunction1()">
                            <p class="dish-price">Desc</p>
                            <span class="popuptext" id="myPopup1">
                                El albondigon colombiano es un plato tradicional el cual se suele hacer en fiestas, al
                                mismo
                                tiempo es un plato ideal para celebrar un aniversario o cualquier festividad.

                            </span>
                        </div>
                        <a href="COL_Albondigon_Colombiano.html">
                            <p class="dish-price">Ver</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="img/imgColombia/garbanzos.png" alt="">
                    <div class="dish-info">
                        <h6 class="dish-name">Garbanzos con carne</h6>
                        <div class="popup" onclick="myFunction2()">
                            <p class="dish-price">Desc</p>
                            <span class="popuptext" id="myPopup2">
                                Una receta típica la cual trae dos
                                ingredientes los cuales combinan bien los cuales son la carne
                                desmechada y los garbanzos.
                            </span>
                        </div>
                        <a href="COL_Garbanzos_con_carne_desmechada.html">
                            <p class="dish-price">Ver</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4" style="margin-bottom: 10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="img/imgColombia/mantecada.png" alt="">
                    <div class="dish-info">
                        <h6 class="dish-name">Mantecada De chocolate</h6>
                        <div class="popup" onclick="myFunction3()">
                            <p class="dish-price">Desc</p>
                            <span class="popuptext" id="myPopup3">
                                La mantecada colombiana es un
                                postre tradicional de la gastronomía de Colombia. Este bizcocho se
                                diferencia de otros por el uso de harina de maíz amarilla y ron
                                blanco o aguardiente.
                            </span>
                        </div>
                        <a href="COL_Mantecada_de_chocolate.html">
                            <p class="dish-price">Ver</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5">
                    <img src="img/imgColombia/maracuya.png" alt="">
                    <div class="dish-info">
                        <h6 class="dish-name">Maracuyá con galletas</h6>
                        <div class="popup" onclick="myFunction4()">
                            <p class="dish-price">Desc</p>
                            <span class="popuptext" id="myPopup4">
                                Te traemos un mágico postre de
                                maracuyá con el toque secreto para que sorprendas a tu familia y
                                amigos, ideal para una tarde de té y postre o para endulzar un
                                almuerzo.
                            </span>
                        </div>
                        <a href="COL_maracuyá_con_galletas_Ducales.html">
                            <p class="dish-price">Ver</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="img/imgColombia/pollo.png" alt="">
                    <div class="dish-info">
                        <h6 class="dish-name">Pollo con hogao</h6>
                        <div class="popup" onclick="myFunction5()">
                            <p class="dish-price">Desc</p>
                            <span class="popuptext" id="myPopup5">
                                Prepararemos un pollo con hogao a
                                base de leche de coco para dar un toque de sabor auténtico y único a
                                la preparación.
                            </span>
                        </div>
                        <a href="COL_Pollo_con_hogao.html">
                            <p class="dish-price">Ver</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Menu Area End ***** -->

    <!-- ***** Special Menu Area Start ***** -->
    <section class="caviar-dish-menu clearfix" id="menu">
        <div class="container">
            <div class="row">
                <div class="col-12 menu-heading">
                    <div class="section-heading text-center">
                        <h2>Los 3 Mas Populares</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4">
                    <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                        <img src="img/imgColombia/maracuya.png" alt="">
                        <div class="dish-info">
                            <h6 class="dish-name">Maracuyá con galletas ducales</h6>
                            <a href="COL_maracuyá_con_galletas_Ducales.html">
                                <p class="dish-price">Ver</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                    <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                        <img src="img/imgColombia/ALBON.png" alt="">
                        <div class="dish-info">
                            <h6 class="dish-name">Albondigon Colombiano</h6>
                            <a href="COL_Albondigon_Colombiano.html">
                                <p class="dish-price">Ver</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                    <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                        <img src="img/imgColombia/mantecada.png" alt="">
                        <div class="dish-info">
                            <h6 class="dish-name">Mantecada de chocolate</h6>
                            <a href="COL_Mantecada_de_chocolate.html">
                                <p class="dish-price">Ver</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Special Menu Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <footer class="caviar-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-text">
                        <a href="index.html" class="navbar-brand">Recetas de Sudamérica</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p style="color: beige;">Copyright Recetas de Sudamérica&copy;
                            <script>document.write(new Date().getFullYear());</script>
                        </p>
                        <p style="color: beige;">
                            Todos los derechos reservados
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/others/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <!--Popup-->
    <script>
        // When the user clicks on div, open the popup
        function myFunction1() {
            var popup = document.getElementById("myPopup1");
            popup.classList.toggle("show");
        }
        // When the user clicks on div, open the popup
        function myFunction2() {
            var popup = document.getElementById("myPopup2");
            popup.classList.toggle("show");
        }
        // When the user clicks on div, open the popup
        function myFunction3() {
            var popup = document.getElementById("myPopup3");
            popup.classList.toggle("show");
        }
        // When the user clicks on div, open the popup
        function myFunction4() {
            var popup = document.getElementById("myPopup4");
            popup.classList.toggle("show");
        }
        // When the user clicks on div, open the popup
        function myFunction5() {
            var popup = document.getElementById("myPopup5");
            popup.classList.toggle("show");
        }
    </script>

</body>