#formu {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #formu p {
    text-align: center;
  }
  
  #formu label {
    font-size: 30px;
  }
  
  #formu input[type="radio"] {
    display: none;
  }
  
  #formu label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  #formu label:hover,
  #formu label:hover ~ label {
    color: orange;
  }
  
  #formu input[type="radio"]:checked ~ label {
    color: orange;
  }